@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

.word-container {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
}

/* Pseudo-elemento que será la línea */
.word-container::after {
  content: "";
  position: absolute;
  bottom: -2px;  /* Ubicación de la línea: justo debajo del texto */
  left: 0;
  width: 100%;
  height: 2px;  /* Grosor de la línea */
  background-color: white;  /* Color de la línea */
  animation: lineAnimation 2s infinite;
}

/* Definición de la animación */
@keyframes lineAnimation {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

.swiper-pagination-bullet {
  background-color: #007aff !important;
}

.swiper-pagination-bullet-active {
  background-color: #007aff !important;
}